@page "/inventory"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using WebAssemblyTest.Client.Services
@using WebAssemblyTest.Shared
@inject SwapiService service
@attribute [Authorize]

<h1>Inventory</h1>
@if (user != null)
{
	<div class="row">
		<div class="col">
			<h1>Store</h1>
		</div>
		<div class="col text-end my-auto">
			<h3>Total Credits: @user.Credits</h3>
		</div>
	</div>
	@if (user.Starships != null)
	{
		<h4 class="mb-0">Starships:</h4>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Model</th>
					<th>Cost in Credits</th>
					<th>Length</th>
					<th>Max Speed</th>
					<th>Hyperdrive Rating</th>
					<th>Crew Size</th>
					<th>Passengers</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var starship in user.Starships)
				{
					<tr>
						<td class="align-middle">@starship.Starship.Name</td>
						<td class="align-middle">@starship.Starship.Model</td>
						<td class="align-middle">@starship.Starship.Cost_In_Credits</td>
						<td class="align-middle">@starship.Starship.Length</td>
						<td class="align-middle">@starship.Starship.Max_Atmosphering_Speed</td>
						<td class="align-middle">@starship.Starship.Hyperdrive_Rating</td>
						<td class="align-middle">@starship.Starship.Crew</td>
						<td class="align-middle">@starship.Starship.Passengers</td>
					</tr>
				}
			</tbody>
		</table>
	}
	else
	{
		<h4 class="my-2">No Starships</h4>
	}
	@if (user.Vehicles != null)
	{
		<h4 class="mb-0 ">Vehicles:</h4>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Model</th>
					<th>Cost in Credits</th>
					<th>Length</th>
					<th>Max Speed</th>
					<th>Passengers</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var vehicle in user.Vehicles)
				{
					<tr>
						<td class="align-middle">@vehicle.Vehicle.Name</td>
						<td class="align-middle">@vehicle.Vehicle.Model</td>
						<td class="align-middle">@vehicle.Vehicle.Cost_In_Credits</td>
						<td class="align-middle">@vehicle.Vehicle.Length</td>
						<td class="align-middle">@vehicle.Vehicle.Max_Atmosphering_Speed</td>
						<td class="align-middle">@vehicle.Vehicle.Passengers</td>
					</tr>
				}
			</tbody>
		</table>
	}
	else
	{
		<h4>No Vehicles</h4>
	}
}

@code {
	[CascadingParameter]
	private Task<AuthenticationState> authenticationStateTask { get; set; }

	private User user;

	protected override async Task OnInitializedAsync()
	{
		var authState = await authenticationStateTask;
		var name = authState.User.Identity.Name;
		user = await service.GetUserFromApi(name);
	}
}
